/* RESET */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* inizializzazione contenitore prodotti */

.container {
    width: 85%;
    margin:0 auto;
    padding-top:20px;
}

/* impostazione griglia prodotti */

.row {
    text-align: center;
    margin-bottom:40px;
    
}

/* impostazione scheda prodotto */

.card {
    display: inline-block;  
    padding-left:20px;
    
}

.card:hover {

    background-color:rgb(134, 6, 70);
    padding:5px;
}

.product-item {
    position:relative;

}

/* impostazione immagini prodotto */

.dimension{
    width:320px;
    height:462px;
}

.product-image {
    display:block;
}
    
.second-product-image {
    display:none;
} 

/* cambio immagine */

.change-product-image{
    display:block
}

.change-product-image:hover .product-image {
    display:none;
}

.change-product-image:hover .second-product-image {
    display:block;
} 

/* impostazione didascalia descrizione prodotto ed etichette sconto, sostenibilità, wishlist */

.position {
    color:white;
    padding:5px;
    font-size:12px;
    font-weight:900;
}

.brand{
    font-size:12px;
    text-align:left;
    margin-top: 5px;
}

p.product{
    font-weight: bold;
    text-align:left;
}

.uppercase {
    text-transform: uppercase;
}

p.product-discount-price{
    color:red;
    text-align: left;
}

span.product-price {
    display:inline-block;
    text-align:left;
    color:black;
}

.product-item .discount {
    position:absolute;
    background-color:red;
    left:0;
    bottom:10px;
}

.product-item .green {
    position:absolute;
    background-color:green;
    left:40px;
    bottom: 10px;
}

.product-item .maglione{
    position:absolute;
    background-color:green;
    left:0px;
    bottom: 10px;
}

.product-item .heart{
    position:absolute;
    background-color: white;
    color:black;
    right:0;
    top:15px;
    padding:8px 16px;
    display:none;
    font-size: 2rem;
    font-weight: bold;
}


/* BONUS */
.product-item:hover .heart{
    display: block;
}

.product-item:active .heart{
    color:red;
}

.card:hover .product-description {
    color:white;
}

.card:hover .product-price {
    color:white;
}

.card:hover .product-discount-price {
    color:rgb(226, 223, 24);
}